.svg-c_clock-dims {
	width: 18px;
	height: 18px;
}

.svg-c_marker-dims {
	width: 23px;
	height: 23px;
}

.svg-c_phone-dims {
	width: 14px;
	height: 15px;
}

.svg-carousel_arrow-dims {
	width: 33px;
	height: 33px;
}

.svg-check-dims {
	width: 11px;
	height: 11px;
}

.svg-dorohov-dims {
	width: 81px;
	height: 26px;
}

.svg-fb-dims {
	width: 12px;
	height: 19px;
}

.svg-inst-dims {
	width: 21px;
	height: 19px;
}

.svg-logo-dims {
	width: 109px;
	height: 40px;
}

.svg-mastercard-dims {
	width: 100px;
	height: 16px;
}

.svg-rp1-dims {
	width: 52px;
	height: 52px;
}

.svg-rp2-dims {
	width: 52px;
	height: 52px;
}

.svg-rp3-dims {
	width: 52px;
	height: 52px;
}

.svg-rp4-dims {
	width: 54px;
	height: 54px;
}

.svg-rp5-dims {
	width: 54px;
	height: 54px;
}

.svg-search-dims {
	width: 17px;
	height: 17px;
}

.svg-sort-dims {
	width: 16px;
	height: 12px;
}

.svg-visa-dims {
	width: 56px;
	height: 16px;
}

.svg-vk-dims {
	width: 26px;
	height: 14px;
}

