.form {
    background: $black;
    &__wrap {
        @extend %container;
        max-width: 1120px !important;
        overflow: hidden;
        padding-top: 10px;
        &__inner {
            margin: 0 -40px;
            display: flex;
            flex-wrap: wrap;
        }
    }
    .heading {
        padding-left: 30px;
        padding-right: 30px;
    }
    &__group {
        padding: 0 40px;
        width: 100%;
        margin-bottom: 45px;
        position: relative;
        &:last-child {
            margin-bottom: 0;
        }
        &.is--w50 {
            max-width: 50%;
        }
        &.is--w100 {
            max-width: 100%;
        }
        input[type="text"],
        input[type="password"],
        input[type="email"] {
            display: block;
            width: 100%;
            border: none;
            border-bottom: 1px solid #A4A4A4;
            background: transparent;
            outline: none;
            color: #fff;
            padding: 15px 0;
            font-weight: 18px;
            line-height: 19px;
            font-weight: 300;
            &:focus + label,
            &:valid + label {
                transform: translate3d(0, -100%, 0);
                opacity: 1;
                margin-top: -16px;
                font-size: 80%;
            }
            &:focus ~ span.is--border,
            &:valid ~ span.is--border {
                width: calc(100% - 80px);
            }
        }
        label {
            display: block;
            position: absolute;
            font-size: 16px;
            line-height: 17px;
            color: #7D7D7D;
            left: 40px;
            top: 50%;
            margin-top: -8px;
            cursor: text;
            transition: .25s all ease;
        }
        span {
            &.is--border {
                position: absolute;
                height: 1px;
                width: 0%;
                left: 40px;
                right: 40px;
                bottom: 0;
                margin: 0 auto;
                background: $blue;
                transition: .5s all ease;
            }
        }
        &__submit {
            &__btn,
            &__text {
                text-align: center;
            }
            &__btn {
                margin-bottom: 30px;
            }
            &__text {
                font-weight: 100;
                color: #fff;
                font-size: 14px;
                line-height: 16px;
                a {
                    font-weight: 200;
                    color: #fff;
                }
            }
        }
    }
}

@media (max-width: $resp768) {
    .form {
        &__group {
            &.is--w50 {
                max-width: 100%;
            }
            margin-bottom: 25px;
            input[type="text"],
            input[type="password"],
            input[type="email"] {
                padding-top: 10px;
                padding-bottom: 10px;
            }
            label {
                font-size: 14px;
            }
        }
    }
}