.navbar {
    position: fixed;
    width: 100%;
    height: 100px;
    left: 0;
    top: 0;
    z-index: 1000000000;
    &.is--bg {
        background: $dark;
    }
    &.is--mobile-open {
        background: $dark;
        .navbar__mobcontainer {
            height: calc(100vh - 70px);
            padding: 30px 0;
        }
    }
    &__inner {
        @extend %container;
        height: 100%;
        display: flex;
        align-items: center;
        position: relative;
    }
    &__logo {
        margin-right: 10%;
        a {
            display: block;
            svg {
                fill: #fff;
            }
        }
    }
    &__menu {
        height: 100%;
        margin-right: auto;
        ul {
            height: 100%;
            display: flex;
            li {
                height: 100%;
                a {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    color: #fff;
                    font-weight: 300;
                    padding: 0 22px;
                    font-size: 16px;
                    &:hover {
                        color: $blue;
                        text-decoration: none;
                    }
                    &.is--active {
                        color: $blue;
                    }
                }
            }
        }
    }
    &__search {
        margin-left: auto;
        width: 300px;
        position: absolute;
        right: 30px;
        top: calc(50% - 25px);
        &__inner {
            position: relative;
        }
        &__btn {
            position: absolute;
            z-index: 110;
            button {
                background: transparent;
                height: 50px;
                border: none;
                padding: 0 15px;
                cursor: pointer;
                outline: none;
                svg {
                    fill: #fff;
                    margin-top: 5px;
                }
            }
        }
        &__field {
            width: 100%;
            opacity: 0;
            input {
                box-sizing: border-box;
                width: 100%;
                height: 50px;
                background: #282828;
                border: 1px solid rgba($blue, .1);
                outline: none;
                color: #fff;
                font-weight: 300;
                padding: 0 15px 0 45px;
                font-size: 14px;
                cursor: default;
            }
        }
        &.is--open {
            z-index: 100;
            .navbar {
                &__search {
                    &__field {
                        opacity: 1;
                        input {
                            cursor: text;
                        }
                    }
                }
            }
        }
    }
    &__phone {
        height: 100%;
        position: relative;
        z-index: 50;
        a {
            color: #fff;
            font-weight: 300;
            font-size: 20px;
            line-height: 20px;
            display: flex;
            height: 100%;
            align-items: center;
            &:hover {
                color: $blue;
                text-decoration: none;
            }
        }
    }
    &__burger {
        height: 100%;
        position: relative;
        z-index: 50;
        display: none;
        margin-left: auto;
        button {
            border: none;
            background: transparent;
            padding: 0;
            outline: none;
            height: 100%;
            padding: 0 10px;
            cursor: pointer;
            span {
                display: block;
                width: 26px;
                position: relative;
                height: 2px;
                border-radius: 3px;
                background: #fff;
                transition: .25s all ease;
                &::after,
                &::before {
                    background: #fff;
                    content: '';
                    height: 2px;
                    border-radius: 3px;
                    display: block;
                    position: absolute;
                    width: 100%;
                    transition: .25s all ease;
                }
                &::after {
                    top: -8px;
                }
                &::before {
                    bottom: -8px;
                }
            }
            &.is--active {
                span {
                    transform: rotate(45deg);
                    &::before {
                        opacity: 0;
                    }
                    &::after {
                        transform: rotate(90deg);
                        top: 0;
                    }
                }
            }
        }
    }
    &__mobcontainer {
        max-width: 320px;
        width: 100%;
        position: fixed;
        top: 70px;
        left: 0;
        height: 0;
        background: $dark;
        transition: .5s all cubic-bezier(.54,.09,.84,.93);
        overflow: hidden;
        &__search {
            padding: 0 30px;
            margin-bottom: 40px;
            &__field {
                button {
                    position: absolute;
                    background: transparent;
                    height: 40px;
                    border: none;
                    padding: 0 15px;
                    cursor: pointer;
                    outline: none;
                    svg {
                        fill: #fff;
                        margin-top: 5px;
                    }
                }
                input[type="text"] {
                    box-sizing: border-box;
                    width: 100%;
                    height: 40px;
                    background: #282828;
                    border: 1px solid rgba($blue, .1);
                    outline: none;
                    color: #fff;
                    font-weight: 300;
                    padding: 0 15px 0 45px;
                    font-size: 14px;
                }
            }
        }
        &__menu {
            margin-bottom: 20px;
            ul {
                li {
                    a {
                        color: #fff;
                        font-weight: 300;
                        padding: 10px 30px;
                        font-size: 16px;
                        display: block;
                        &:hover {
                            color: $blue;
                            text-decoration: none;
                        }
                        &.is--active {
                            color: $blue;
                        }
                    }
                }
            }
        }
        &__phone {
            a {
                color: #fff;
                font-weight: 300;
                font-size: 18px;
                line-height: 18px;
                display: block;
                padding: 10px 30px;
                &:hover {
                    color: $blue;
                    text-decoration: none;
                }   
            }
        }
    }
}

@media (max-width: 1440px) {
    .navbar {
        &__logo {
            margin-right: 4%;
        }
        &__menu {
            ul {
                li {
                    a {
                        padding-left: 15px;
                        padding-right: 15px;
                    }
                }
            }
        }
        &__search {
            width: 250px;
        }
        &__phone {
            a {
                font-size: 18px;
            }
        }
    }
}

@media (max-width: $resp1200) {
    .navbar {
        height: 70px;
        &__menu,
        &__search,
        &__phone {
            display: none;
        }
        &__burger {
            display: block;
        }
    }
}