$black: #121217;
$dark: #18181F;
$blue: #2972C6;
$grey: #F2F2F2;

$grid_width: 1620px;

$resp1920:                              1920px;
$resp1400:                              1400px;
$resp1200:                              1200px;
$resp1025:                              1025px;
$resp768:                               768px;
$resp320:                               320px;